h3{
    text-align: center;

}
input{
    width: 198px;
    margin: 2px;
    justify-content: center;
    display: block;
    align-self: center;

}
.input {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
  }
  #button{
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #button{
    color: white;
    width: 192px;
    border-radius: 2px;
    border: none;
    background-color: black;
    opacity: 70%;
  }
#button:hover {
  opacity: 100%;
  transition: opacity 1s, color 1s;
  cursor: pointer;
}


