h3{
    text-align: center;

}
input{
    margin: 2px;
    justify-content: center;
    display: block;
    align-self: center;

}
.input {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
  }
  #button{
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



