.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Roboto', sans-serif;
    
    /* border: solid 2px black; */
  }
  
  .navbar-left {
    display: flex;
    justify-content: space-around;
    /* border: solid 2px black; */
    width: 100%;
  }
  
  .menu-button {
    font-size: 24px;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar-title {
    /* font-family: cursive; */
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-center {
    display: flex;
    justify-content: space-between;
    /* border: solid 2px black; */
    width: 100%;
  }
  
  .nav-button {
    margin-right: 20px;
    padding: 6px 18px;
    background: none;
    /* border: solid 2px black; */
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    /* border: solid 2px black; */
    padding-right: 10%;
    cursor: pointer;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: black;
    /* font-family: cursive; */
  }

  .upper-nav {
    display: flex;
    width: 100%;
  }

  .right {
    display: flex;
    padding-left: 5%;
    /* border: 1px solid blue; */
  }

  .left {
    display: flex;
    padding-right: 5%;
    /* border: 1px solid blue; */
  }

  .home {
    /* border: 1px solid #007bff; */
    color: black;
    transition: background-color 1s, color 1s;
  }

  .home:hover, .contact:hover  {
    background-color: #007bff;
    color: ghostwhite;
    transition: background-color 1s, color 1s;
  }

  .contact {
    /* border: 1px solid #007bff; */
    background-color: rgba(128, 128, 128, 0.6);
    color: ghostwhite;
    transition: background-color 1s, color 1s;
  }

  .active {
    background-color: #007bff;
    color: ghostwhite;
  }
  .add-contact{
    opacity: 70%;

  }
  .add-contact:hover {
    opacity: 100%;
  }


  
  